<div class="main-api-block api-block-padding">
	   <h1 class="api-title">
		{{ i18n.api.title | default('Our tool will help you find out the truth!') }}
	</h1>
	<div class="api-flex-row">
		   <p class="api-desc">
			{{ i18n.api.description | default('Here you can objectively assess the reliability of a particular article or news item. AI will analyze a range of factors to help you form an accurate opinion about a particular news item.') }}
		</p>
	</div>
	   <input name="url" type="text" required
		   placeholder="{{ i18n.api.placeholder | default('Enter the URL of the article or news item you want to check.') }}"
		   class="api-url-input"
	   />
	   <button type="submit" class="api-analyze-btn">{{ i18n.api.button | default('Analyze') }}</button>
</div>
<div class="extention-block">
	<h2 class="ext-title">{{ i18n.api.extension.title | default('You can also use our extension!') }}</h2>
	<p class="ext-desc">
		{{ i18n.api.extension.description | default('We have created a special extension with functionality to check the website you are visiting. Ensure your information security with Fact Guard.') }}
	</p>
	<a href="/" class="ext-btn">{{ i18n.api.extension.button | default('Try Extension') }}</a>
</div>
<div class="feedback">
    <p>{{ i18n.api.feedback.text | default('If you have any feedback you can leave a review on our Telegram channel.') }}</p>
	<a href="https://t.me/fact_guard_channel" target="_blank" class="feedback-btn"><img src="static/icons/tg.svg" alt=""> {{ i18n.api.feedback.button | default('Reviews') }}</a>
</div>