<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %}{% endblock %} - Fact Guard</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='/icons/fact-guard-logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}?v={{ timestamp() }}">

</head>
<body>
    <nav class="navbar">
        <div class="nav-lang-bar">
            <div>
                <p>Русский</p>
                <b>English</b>
                <p>Romanian</p>
            </div>
        </div>
        <div class="nav-main-bar">
            <div>
                <img class="img-logo" src="static\icons\fact-guard-logo-header-circle.svg" alt="logo">
                <p class="text-logo"><span>Fact</span><br>Guard</p>
            </div>
            <ul class="nav-menu">
                <li><a href="/" class="{% if request.url.path == '/' %}active{% endif %}">Home</a></li>
                <li><a href="/library" class="{% if request.url.path == '/library' %}active{% endif %}">Methodologys</a></li>
                <li><a href="/about" class="{% if request.url.path == '/about' %}active{% endif %}">About Us</a></li>
            </ul>
            <!-- <img class="nav-search-cirle" src="static\icons\find-header-circle.svg" alt="search"> -->
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <div class="body-bg-bottom"></div>

    <footer>
        <span>© 2026 Mitsuhano & yuliitezary. All rights reserved.</span>
        <div>
            <p class="left-footer-text">Be cautious with major news stories — verify facts before believing or sharing so you don’t <br> get misled!</p>
            <img src="static\icons\footer-line.svg" alt="footer-line">
            <p class="right-footer-text">mitsuhanocreations@gmail.com <br> +373 606 51 084</p>
        </div>
    </footer>

    <script src="{{ url_for('static', path='/js/main.js') }}?v={{ timestamp() }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
